In [1]:
#Import libraries
import pandas as pd

In [2]:
# Sample data for demonstration
data = {'name': ['John', 'Alice', 'Bob', 'Clara', 'David', 'Eva'],
        'age': [25, 32, 28, 41, 30, 35]}

# Create a DataFrame
df = pd.DataFrame(data)

In [3]:
# Display DataFrame
df

    name  age
0   John   25
1  Alice   32
2    Bob   28
3  Clara   41
4  David   30
5    Eva   35

In [4]:
# Function to filter and return top 5 rows where a specific column has values greater than a threshold
def filter_top_rows(df, column_name, threshold):
    # Filter rows where the values in the specified column are greater than the threshold
    filtered_df = df[df[column_name] > threshold]
    
    # Return the top 5 rows
    return filtered_df.head(5)

In [5]:
# Filter top 5 rows where 'age' > 30
result = filter_top_rows(df, 'age', 30)

# Display the result
print(result)

    name  age
1  Alice   32
3  Clara   41
5    Eva   35